@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
*
{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0px;
  user-select: none;
}

body {
  background-color: white;
  width: 100vw; 
  height: 100vh; 
  overflow-x: hidden; 
}

.webgl {
  position: absolute;
  align-items: center;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  border-radius: 10px;
}

a {
  list-style: none;
  text-decoration: none;

}
#homeTitle {
  font-weight: 1000;
  font-family:sans-serif;
  position: relative;
  font-size: 110px;
  color:rgb(186, 240, 216);
  text-align: center;
  user-select: none;
  text-shadow: 1px 1px 1px rgb(22, 20, 20);
  border: none;
}


#greetDiv {
  background-color:white;
  margin-bottom: 10%;
}

#greetHeading {
  color:rgb(120, 200, 232);
  position: relative;
  font-size: 37px;
  text-align: center;
  font-family:'Zilla Slab Highlight';
}



.majorDiv {
  margin:10px;
  padding: 10px;
  margin-top: 80px;
  border-top: 1px solid black;
}

#homeDiv,#greetDiv  {
  border: none;
}

.minorDiv {

}

.majorHeading {
  color:black;
  font-size:100px;
  font-family:'Homemade apple';
  text-align: left;
  margin-left: 60px;
}



.minorHeading {
  color:khaki;
  font-family:'Lobster', sans-serif;
  font-size: 30px;
}

.majorParagraph {
  font-family:monospace;
  color:rgb(7, 7, 7);
  font-size: 24px;
  margin:5px;
  padding:10px;
}

.minorParagraph {
  font-family:monospace;
  color:rgb(3, 3, 3);
  font-size: 30px;
  margin: 10px;

}

.list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}

.listItem {
  margin: 20px;
}

.listItemLinks {
  text-decoration: none;
  list-style: none;
  font-size: 40px;
  font-family:monospace;
  color: rgb(5, 5, 5);
  background-color: rgb(243, 240, 219);
  padding: 20px;
}



#projectsParagraph{
  margin-bottom: 10px;
}

#projectsList {
  color: rgb(15, 15, 15);
  list-style: none;
  display: inline;
}



.projectHeading {
  color: rgb(3, 3, 3);
  font-family:monospace;
  font-size: 30px;
  font-weight: lighter;
}

#theLine {
  height: 6px;
  margin-top: 150px;
}

.listItemLinks:hover {
  background-color: rgb(249, 249, 248);
  color: black;
}


#timelineList {
  display: inline;
  text-align: center;
  font-size: 20px;
  color: rgb(49, 94, 134);
  list-style: none;
  margin-left: 30px;
}

.timeHeading {
  font-size: 23px;
}

.time {
  padding: 20px;
  text-align: left;
  font-family:monospace;
  color: rgb(11, 11, 11);
}


#skillsList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.skillsListItem {
  padding: 20px;
  margin: 10px;
  color: rgb(12, 12, 12);
  font-size: 20px;
  background-color:rgb(239, 227, 236);
  font-family: monospace;
  border-radius: 10px;
}

.skill {
  font-size: 25px;
}

#contactHeading {
  text-align: center;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

.projectsDescription {
  font-family:monospace;
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project {
  padding: 15px;
  color: rgb(9, 9, 9);
  margin-top: 50px;
  border-radius: 17px;
  border: 1px solid white;
  background-color: rgb(234, 242, 234);
}

.project:hover {
  background-color:#ffffff;
  border: 1px solid red;
}

.projectListItem {
} 

.projectsLink {
  font-family:monospace;
  color: rgb(66, 106, 207);
  font-size: 20px;
}

.footer {
  margin: 5vh 0;
  padding: 5vh;
  border-top: 5px solid rgb(8, 8, 8);
  border-bottom: 5px solid rgb(8, 8, 8);
}

